/* Acá empieza todo lo de footer */


footer{

    background-color: rgba(0, 0, 0, 0.829);
    height: 270px;
    width: 100%;
    margin-top: 10px;
    border: 3px solid black;
}

/* texto para copyright */

 .textofooter{
    text-align: left;
    margin-top: 70px;
    margin-left: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

/* icono de teléfono */
.telefono{
    font-size: 30px;
    margin-left: 35px;
    margin-top: -15px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-shadow: 1px 2px 1px whitesmoke;
}

.textotel{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding-top: 8px;
    margin-left: 40px;
    font-size: 25px;
}

/* texto de contactanos */
.contactos{
     font-family: 'Courier New', Courier, monospace;
     font-size: 15px;
     font-weight: 800;
     margin-left: 999px;
     padding-top: 60px;
     padding-bottom: 10px;
     color: white;
}

.redes{
     height: 20px;
     margin-top: -70px;
     margin-left: 950px;
}
.redes ul li{
     display: inline-block;/*para que esteb horizontal*/
     margin:5px 5px;
     width: 60px;
     /* height: 50px; */
     text-align: center;
}
.redes ul li a{
     display:block;
     padding: 0 10px;
     color: rgba(255, 255, 255, 0.932);
     line-height: 50px;/*la altura para que queden en el centro*/
     font-size: 30px;/*tamaño de fuente*/
}
.redes1{
     height: 20px;
     margin-top: -55px;
     margin-left: 950px;
}
.redes1 ul li{
     display: inline-block;/*para que esteb horizontal*/
     margin:5px 5px;
     width: 60px;
     /* height: 50px; */
     text-align: center;
}
.redes1 ul li a{
     display:block;
     padding: 0 10px;
     color: rgba(255, 255, 255, 0.932);
     line-height: 50px;/*la altura para que queden en el centro*/
     font-size: 30px;/*tamaño de fuente*/
}

