*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(imagenes/clouds.jpg);
    background-repeat: no-repeat;
    background-color: whitesmoke;
}
.titulo{
    text-align: center;
    margin-top: 80px;
}
.user{
    font-size: 120px;
    margin-left: 350px;
}
.user1{
    font-size: 120px;
    margin-left: 650px;
    margin-top: -148px;
}
.user2{
    font-size: 120px;
    margin-left: 950px;
    margin-top: -148px;
}
.texto{
    font-size: 10px;
}
.textosec{
    margin-top: 60px;
    text-align: center;
}
iframe{
   margin-bottom: 30px;
   opacity: 80%;
   margin-left: 250px;
   margin-top: 70px;
}
