*{
    padding: 0px;
    margin: 0px;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(imagenes/clouds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
}

ul{
    list-style: none;
    position: absolute;
    width: 100%;
    float: left;
    top: 20px;

}
.img2{
    width: 32px;

}
.imgbanner{
    float: right;
    width: 1400px;
    height: 100px;
}
input[type="checkbox"]{
    display: none;
}

nav{
    background-color: rgba(16, 16, 16, .5);
    width: 100%;
    top: -210px;
    height: 100px;
    position: absolute;
    transition: all 1s;
   
}

input[type="checkbox"]:checked ~ nav{

    transform: translateY(210px)
}

a{

    text-decoration: none;
    color: black;
    padding: 20px 115px;
    color: white;
    float: left;
    display: block;
    margin-left: 50px;
}

a:hover{
    background-color: rgb(176, 224, 230);
    color: black;
    border-radius: 20px;
}

label{
 
    padding: 20px;
    position: absolute;
    z-index: 1;
    
}
section{

    float: left;
    margin-top: 10px;
    margin-left: 250px;
  
    top: 140px;
    
}
#fuente-google{

    font-size: 70px;
    float: right;
    color: black;
    font-family: consolas ;
    text-shadow: 3px 2px 3px rgb(66, 66, 66);
    background-color: #bf9aca42;
    border-radius: 20px;
    margin-right: 320px;
    padding: 7px;
    position: relative;
    
    
}
iframe{
   
    opacity: 80%;
 
}
p{
    top: 50px;
    position: relative;
}
