/* Acá empieza todo lo de footer */


footer{
    background-color: rgba(0, 0, 0, 0.829);
    height: 270px;
    width: 100%;
    margin-top: 10px;
    border: 3px solid black;
}

/* texto para copyright */

 .textofooter{
    text-align: left;
    margin-top: 110px;
    bottom: 130px;
    position: relative;
    margin-left: 55px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

/* icono de teléfono */
.telefono{
    float: left;
    font-size: 30px;
    margin-left: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    position: relative;
    bottom: 15px;
}

.textotel{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-left: 40px;
    bottom: 45px;
    position: relative;
    font-size: 25px;
}

/* texto de contactanos */
.contactos{
     font-family: 'Courier New', Courier, monospace;
     font-size: 20px;
     font-weight: 800;
     margin-left: 999px;
     padding-top: 60px;
     padding-bottom: 10px;
     position: relative;
     bottom: 30px;
     color: white;
}

.redes{
     height: 20px;
     position: relative;
     bottom: 230px;
     margin-left: 925px;
}
.redes ul li{
     display: inline-block;/*para que esteb horizontal*/
     margin:5px 5px;
     width: 60px;
     text-align: center;
}
.redes ul li a{
     display:block;
     padding: 0 10px;
     color: white;
     line-height: 50px;/*la altura para que queden en el centro*/
     font-size: 30px;/*tamaño de fuente*/
}
.redes1{
     height: 20px;
     position: relative;
     bottom: 240px;
     margin-left: 925px;
}
.redes1 ul li{
     display: inline-block;/*para que esteb horizontal*/
     margin:5px 5px;
     width: 60px;
     text-align: center;
}
.redes1 ul li a{
     display:block;
     padding: 0 10px;
     color: white;
     padding-bottom: 10px;
     line-height: 50px;/*la altura para que queden en el centro*/
     font-size: 30px;/*tamaño de fuente*/
}

